{{ define "title" }}Recipies - Login {{end}}

{{ define "main" }}

<h1>Login</h1>


{{ with .Form.FormErrors }}
<div class="columns">
  <div class="p-2 mt-2 p-centered column col-md-12 col-6">
    <div class="toast toast-error">
      {{ range . }}
      <div>{{ . }}</div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}

<form action="/auth/login" method="post">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  <div class="form-group {{ with .Form.FieldErrors.email }} has-error {{ end }}">
    <label class="form-label" for="email">Email</label>
    <input class="form-input" value="{{ .Form.Email }}" type="email" id="email" name="email" placeholder="Email...">
    {{ with .Form.FieldErrors.email }}
    {{ range . }}<div class="form-input-hint">{{ . }}</div> {{ end }}
    {{ end }}
  </div>

  <div class="form-group {{ with .Form.FieldErrors.password }} has-error {{ end }}">
    <label class="form-label" for="password">Password</label>
    <input class="form-input" type="password" id="password" name="password" placeholder="Password...">
    {{ with .Form.FieldErrors.password }}
    {{ range . }}<div class="form-input-hint">{{ . }}</div> {{ end }}
    {{ end }}
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>
{{ end }}
