{{ define "title" }}Recipies - {{ .Recipe.Title }}{{end}}

{{ define "main" }}

<h1>{{ .Recipe.Title }}</h1>

<p>
  {{ .Recipe.Description }}
</p>

<p>
  {{ range .IngredientList }}
  {{ .IngredientName }} {{ .Amount }} {{ .UnitName }}
  {{ end }}
</p>

{{ end }}
