{{ define "title" }}Recipies - Create {{end}}

{{ define "main" }}

<h1>Create recipe</h1>

<form action="/recipies/create" method="post">
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
  <div class="form-group {{ with .Form.FieldErrors.title }} has-error {{ end }}">
    <label class="form-label" for="title">Title</label>
    <input class="form-input" type="text" id="title" name="title" placeholder="Title">
    {{ with .Form.FieldErrors.title }}
    {{ range . }}<div class="form-input-hint">{{ . }}</div> {{ end }}
    {{ end }}
  </div>

  <div class="form-group {{ with .Form.FieldErrors.description }} has-error {{ end }}">
    <label class="form-label" for="description">Description</label>
    <textarea class="form-input" id="description" name="description" placeholder="Description..." rows="3"></textarea>
    {{ with .Form.FieldErrors.description }}
    {{ range . }}<div class="form-input-hint">{{ . }}</div> {{ end }}
    {{ end }}
  </div>

  <button type="submit" class="btn btn-primary">Create</button>
</form>
{{ end }}
