{{ define "title" }}List{{ end }}

{{ define "main" }}

<h1>Recipes List</h1>

<div class="columns">
  {{ range .Recipes }}
  <div class="column col-6 col-xs-12 mb-2">
    {{ template "recipeListItem" . }}
  </div>
  {{ end }}


  <ul class="pagination">
    {{ $pageNumber := .Pagination.Page }}
    {{ range $index, $page := .Pagination.Pages }}
    <li class="page-item {{ if eq $pageNumber $page }} active {{ end }}">
      <a href="/recipes/list?page={{ $page }}">{{ $page }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
