{{ define "title" }}{{ .Recipe.Title }}{{end}}

{{ define "main" }}

<h1>{{ .Recipe.Title }}</h1>

<p>
  {{ .Recipe.Description }}
</p>

{{ range .IngredientList }}
<p>
  {{ .IngredientName }} {{ .Amount }} {{ .UnitName }}
</p>
{{ end }}

{{ end }}
